data/*
wandb/
datasets/decoder/generated_data/
datasets/partnet-mobility-v0/
simnet/lib/datasets/*/
*.json
results/
*.ply
*.pyc
vis/*
datasets/runs/*
*.egg-info
.vscode/
external_libs/
*/eval/reconstruction/*
__pycache__/
datasets/decoder/runs/*
datasets/encoder/runs/*
datasets/real/*
datasets/synthetic/*
*.tar.gz
downloaded_archives/*
